<mat-expansion-panel hideToggle class="my-headers-align">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ course.institute }}
      </mat-panel-title>
      <mat-panel-description>
        {{ course.title }} from 
        {{ cleanDate(course.start_date) }} to {{ cleanDate(course.end_date) }}.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let education of course.education">
        {{ education.description }}
    </li>
    </ul>
  </mat-expansion-panel>